/* Reset some default styles */
body, h1, p, ul, li, form, input, textarea, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set global styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Header Styles */
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

/* Hero Section Styles */
.hero {
  background-color: #f0f0f0;
  text-align: center;
  padding: 100px 0;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

.cta-btn {
  display: inline-block;
  padding: 12px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

/* Benefits Section Styles */
.benefits {
  background-color: #fff;
  text-align: center;
  padding: 80px 0;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 20px;
}
.benefits h2 {
  font-size: 30px;
  margin-bottom: 20px;
  grid-column: 1 / -1;
}

.benefit {
  font-size: 18px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}



/* Contact Section Styles */
.contact {
  background-color: whitesmoke;
  text-align: center;
  padding: 80px 0;
}

.contact h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

form input,
form textarea,
form button {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form textarea {
  resize: vertical;
}

form button {
  background-color: #333;
  color: #fff;
  cursor: pointer;
}
